<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>T-shirt</title>
  <script src="/js/client.js"></script>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="manifest" href="/manifest.json">
</head>

<body>
  <main>
    <form class="" action="/update" method="post" aria-label="maak je eigen shirt">
      <fieldset>
        <select name="maat">
          <option value="small">S</option>
          <option value="medium">M</option>
          <option value="large">L</option>
          <option value="extra-large">XL</option>
        </select>
      </fieldset>
      <fieldset>
        <legend aria-label="kleur van het shirt">Kleur van het shirt</legend>
        <label> Blauw </label>
        <input type="radio" name="kleur" value="blauw" required>
        <label> Rood </label>
        <input type="radio" name="kleur" value="rood" required>
        <label> Groen </label>
        <input type="radio" name="kleur" value="groen" required>
      </fieldset>
      <fieldset>
        <legend aria-label="kleur van het shirt">Logo op het shirt</legend>
        <label> Cirkel </label>
        <input type="radio" name="vorm" value="cirkel" required>
        <label> Vierkant </label>
        <input type="radio" name="vorm" value="vierkant" required>
        <label> Driehoek </label>
        <input type="radio" name="vorm" value="driehoek" required>
      </fieldset>
      <fieldset>
        <label for="tekst">Tekst op het shirt</label>
        <input id="tekst" name="shirtTekst" type="text" value="">
      </fieldset>
      <input type="submit" value="print shirt">
    </form>
  </main>
</body>