<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>T-shirt</title>
  <script src="/js/client.js"></script>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="manifest" href="/manifest.json">
  <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
</head>

<body>
  <main>
    <form class="getshirt" action="/getshirt" method="post">
      <legend aria-label="haal uw design op">Haal uw design op</legend>
      <input name="shirtId" type="text" value="id">
      <input type="submit" value="print shirt">
    </form>
    <div class="shirteditor">
      <form class="" action="/update" method="post" aria-label="maak je eigen shirt">

        <legend aria-label="kleur van het shirt">Kleur van het shirt</legend>

        <input id="orange" type="radio" name="kleur" value="orange" required>
        <label for="orange">ORANGE</label>
        <input id="perltwinkle" type="radio" name="kleur" value="perltwinkle" required>
        <label for="perltwinkle">PERLTWINKLE</label>
        <input id="green" type="radio" name="kleur" value="green" required>
        <label for="green">NERD GREEN</label>
        <input id="tealblue" type="radio" name="kleur" value="tealblue" required>
        <label for="tealblue">TEAL BLUE</label>
        <input id="gold" type="radio" name="kleur" value="gold" required>
        <label for="gold">GOLD</label>
        <input id="cinnamon" type="radio" name="kleur" value="cinnamon" required>
        <label for="cinnamon">CINNAMON</label>
        <input id="blueviolet" type="radio" name="kleur" value="blueviolet" required>
        <label for="blueviolet">BLUEVIOLET</label>
        <input id="sand" type="radio" name="kleur" value="sand" required>
        <label for="sand">SAND</label>
        <input id="salmon" type="radio" name="kleur" value="salmon" required>
        <label for="salmon">SALMON</label>
        <input id="blauw" type="radio" name="kleur" value="blauw" required>
        <label for="blauw">BLAUW</label>
        <input id="rood" type="radio" name="kleur" value="rood" required>
        <label for="rood">ROOD</label>
        <input id="geel" type="radio" name="kleur" value="groen" required>
        <label for="geel">GEEL</label>

        <legend aria-label="kleur van het shirt">Logo op het shirt</legend>

        <input id="cirkel" type="radio" name="vorm" value="cirkel" required>
        <label for="cirkel">CIRKEL</label>
        <input id="vierkant" type="radio" name="vorm" value="vierkant" required>
        <label for="vierkant">VIERKANT</label>
        <input id="driehoek" type="radio" name="vorm" value="driehoek" required>
        <label for="driehoek">DRIEHOEK</label>

        <select name="maat">
          <option value="small">S</option>
          <option value="medium">M</option>
          <option value="large">L</option>
          <option value="extra-large">XL</option>
        </select>

        <legend aria-label="sla shirt op">Tekst op het shirt</legend>
        <input name="shirtTekst" type="text" value="">

        <input type="submit" value="opslaan">

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 242.3 242.3" style="enable-background:new 0 0 242.3 242.3;" xml:space="preserve">
        	<path id="nice" d="M197.6,92.4l-28,4.6c-1.1,0.2-1.2-0.8-1.2-0.8l-1.5-8.8c-1.6,5.2-0.9,64-0.9,64s0.2,11.5-0.1,26.5
        		c-0.4,15,1.7,31.6,1.7,31.6s-0.1,3.9-0.3,5.6c-0.2,1.7-9.5,1.5-9.5,1.5H84.6c0,0-9.3,0.1-9.5-1.5c-0.2-1.7-0.3-5.6-0.3-5.6
        		s2-16.6,1.7-31.6c-0.4-15-0.1-26.5-0.1-26.5s0.7-58.8-0.9-64L74,96.3c0,0-0.1,0.9-1.2,0.8l-28-4.6c0,0-1.2,0.5-0.6-2.1
        		C44.8,87.8,54,57,55.8,53.9c1.9-3.1,5.7-7.3,9-8.9c3.3-1.6,4.6-3.5,4.6-3.5l28.1-12.3c0,0,1.6-2.2,5.1-1.6s10.4,2.1,18.6,2.1
        		s15.2-1.5,18.6-2.1c3.5-0.6,5.1,1.6,5.1,1.6L173,41.5c0,0,1.2,1.9,4.6,3.5c3.3,1.6,7.2,5.8,9,8.9c1.9,3.1,11,33.9,11.6,36.5
        		C198.8,92.9,197.6,92.4,197.6,92.4z"/>
        	<path d="M139.2,36.7c-8.4,8-18,8.2-18,8.2s-9.6-0.1-18-8.2c-4-3.8-3.9-6.9-2.7-9.2c0.6-0.1,1.3-0.1,2.1,0
        		c3.5,0.6,10.4,2.1,18.6,2.1s15.2-1.5,18.6-2.1c0.8-0.1,1.5-0.1,2.1,0C143.1,29.8,143.1,32.9,139.2,36.7z"/>
        	<path id="chill" d="M120.7,83.1l6.2,0.4v-5.6l-11.8-0.4l0.8,37.9h11l0.4-5.6l-6.6,0.4"/>
        </svg>

      </form>
    </div>
  </main>
</body>